n8n.json
{
  "nodes": [
    {
      "parameters": {
        "query": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        7120,
        -864
      ],
      "id": "50db7bf8-4d92-4fea-8874-36dcf19af963",
      "name": "Search2",
      "credentials": {
        "tavilyApi": {
          "id": "PIfKkzNTo08hGyC9",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "\"Respond only with 'internet: true' if you need to search online, otherwise 'internet: false'.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        6576,
        -576
      ],
      "id": "7ffb8857-b60d-4f58-aeb6-855f8e9d6cf9",
      "name": "Internet needed?1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=summorize this: {{ $json.results[0].content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        7360,
        -864
      ],
      "id": "0b52ce3b-1e37-4c3b-9455-f2b4d71ef032",
      "name": "Summary2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        7104,
        -368
      ],
      "id": "d4544f67-4071-4a54-808e-252903e35045",
      "name": "Answer2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        7296,
        -656
      ],
      "id": "d7c3e2cf-01ed-4016-b05d-887d8ba8dbb2",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "pUIMXslk2mqS6zPH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75465142-1d15-4e9f-8605-9e0d8677d6cd",
              "leftValue": "={{ $('Internet needed?1').item.json.output }}",
              "rightValue": "internet: true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6912,
        -576
      ],
      "id": "fba3406a-fad7-4fcf-a3ad-74d5d360ae76",
      "name": "If4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        7056,
        -176
      ],
      "id": "ac95c053-9d50-48d0-a415-f5b459848ef0",
      "name": "Cohere Chat Model15",
      "credentials": {
        "cohereApi": {
          "id": "jTE4Ol2PZmA1cbQ5",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        5904,
        -640
      ],
      "id": "3bb12a54-705b-49ba-8e8e-ec6f4625c245",
      "name": "Telegram Trigger2",
      "webhookId": "4fea25ec-2fa4-46e4-ac84-ab2482d334d7",
      "credentials": {
        "telegramApi": {
          "id": "UfpmxTUIz33kQG2P",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger2').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7712,
        -864
      ],
      "id": "c4feebf4-536e-40da-9e6e-98b20b77d348",
      "name": "Send a text message13",
      "webhookId": "6796c09e-beab-41cd-a13f-733f47dd197e",
      "credentials": {
        "telegramApi": {
          "id": "UfpmxTUIz33kQG2P",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger2').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7456,
        -368
      ],
      "id": "bff14cd3-b219-4e14-8d37-0720bd12eee3",
      "name": "Send a text message14",
      "webhookId": "6796c09e-beab-41cd-a13f-733f47dd197e",
      "credentials": {
        "telegramApi": {
          "id": "UfpmxTUIz33kQG2P",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "e2615027-c080-4cee-8b01-c04c409924e7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05151838-95f6-4932-a3d3-65751dd9f96e",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6160,
        -560
      ],
      "id": "24d7e055-f232-4e0a-b672-3e87ed3650c6",
      "name": "Switch3"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6160,
        -304
      ],
      "id": "4184f7a5-7d3c-4b0b-85b1-57534369790f",
      "name": "Get a file1",
      "webhookId": "bef833ce-7b21-4798-8cfa-8c2bfc12dc2e",
      "credentials": {
        "telegramApi": {
          "id": "UfpmxTUIz33kQG2P",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        6368,
        -304
      ],
      "id": "f8c989ad-0f2a-4a61-9a32-27671fd89752",
      "name": "Transcribe a recording1",
      "credentials": {
        "googlePalmApi": {
          "id": "pUIMXslk2mqS6zPH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        6528,
        -368
      ],
      "id": "ebd50876-87af-4991-98da-9f1942803525",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "pUIMXslk2mqS6zPH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        7680,
        -112
      ],
      "id": "3fc9f20f-d59d-4ab9-afbe-d9d6896ef3d4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        5904,
        -416
      ],
      "id": "c694c90d-eba0-46da-a22a-2b4ea097fc19",
      "name": "When chat message received",
      "webhookId": "3dd2417f-ca94-4ca3-8108-28dccf36e35f"
    }
  ],
  "connections": {
    "Search2": {
      "main": [
        [
          {
            "node": "Summary2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internet needed?1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary2": {
      "main": [
        [
          {
            "node": "Send a text message13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer2": {
      "main": [
        [
          {
            "node": "Send a text message14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Summary2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Search2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model15": {
      "ai_languageModel": [
        [
          {
            "node": "Answer2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger2": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Internet needed?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Internet needed?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Internet needed?1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Summary2",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Answer2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1efc3d76fa127d96400db5c37840949eced8c5cc2b3f41157e7cce20e9669b79"
  }
}
