n8n.json
{
  "nodes": [
    {
      "parameters": {
        "query": "={{ $('Edit Fields').item.json.Input }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        0,
        1040
      ],
      "id": "6f7b82ec-1c3b-40a2-9669-1eed928efcf1",
      "name": "Search2",
      "credentials": {
        "tavilyApi": {
          "id": "pLKGmBqjKyqM8Xcx",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2256,
        1056
      ],
      "id": "3b00a93e-16e3-46ab-846b-ee63c2c8ea2c",
      "name": "Telegram Trigger2",
      "webhookId": "4fea25ec-2fa4-46e4-ac84-ab2482d334d7",
      "credentials": {
        "telegramApi": {
          "id": "pQZvcqd35r0AeHFX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "e2615027-c080-4cee-8b01-c04c409924e7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05151838-95f6-4932-a3d3-65751dd9f96e",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2000,
        1056
      ],
      "id": "1f78c57e-2923-4881-a183-f24c50ba0048",
      "name": "Switch3"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1744,
        1136
      ],
      "id": "6c4d9e39-811b-4c50-a798-307a13edc29c",
      "name": "Get a file1",
      "webhookId": "bef833ce-7b21-4798-8cfa-8c2bfc12dc2e",
      "credentials": {
        "telegramApi": {
          "id": "pQZvcqd35r0AeHFX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1536,
        1136
      ],
      "id": "7f6587da-0825-4a0e-a502-e2d2830ebdc6",
      "name": "Transcribe a recording1",
      "credentials": {
        "googlePalmApi": {
          "id": "ucfFqS8moDMy8Beb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Telegram bot",
        "height": 80,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2352,
        928
      ],
      "id": "dda842fa-98ba-4cad-bb03-0d442b781ccc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=remove all sounds and ONLY keep the words. IMPORTANT: dont add anything new: {{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1328,
        1136
      ],
      "id": "8e14acf9-0998-4258-a50d-a67fd48bc0b1",
      "name": "Simplify audio"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1353e92f-0e65-4bfe-b4c7-5f95da216022",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "image: true",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "calendar or weather: true",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "8c200b8b-0462-4b70-86e7-cb7132156fd7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "weather"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8ab97a6b-8089-4b18-a2a1-347a757c676b",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "internet: true",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Internet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47dd18df-d2e7-487b-a8e7-568983db18fc",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "crypto: true",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crypto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9b004cd-811b-4f3f-8cf6-e8a170677950",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "internet: true",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nothing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -448,
        992
      ],
      "id": "9f0fc479-7731-4320-9dfb-761b34d3ab37",
      "name": "Switch"
    },
    {
      "parameters": {
        "cityName": "Phuket, th"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        224,
        832
      ],
      "id": "b8426828-194c-4ca8-a506-d2e8562fccbe",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "F2gEJmSzNjDWpi1z",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "timppamsix@gmail.com",
          "mode": "list",
          "cachedResultName": "timppamsix@gmail.com"
        },
        "end": "={{ $now.plus(1, 'day') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        832
      ],
      "id": "e638edd7-a76f-4186-a790-f15490dc218a",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8SDA9nVCK27CHXyj",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger2').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        1040
      ],
      "id": "3dfd7375-1aa4-4671-a545-9588838e09c5",
      "name": "Send a text message",
      "webhookId": "6796c09e-beab-41cd-a13f-733f47dd197e",
      "credentials": {
        "telegramApi": {
          "id": "pQZvcqd35r0AeHFX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Input }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        144,
        640
      ],
      "id": "eb75c388-5a88-4a85-8c3b-2ed016949c1a",
      "name": "Weather or calendar"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=summorize this: {{ $json.results[0].content }} and {{ $json.results[1].content }} and {{ $json.results[2].content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        240,
        1040
      ],
      "id": "878ef918-7d43-4c1f-a93b-3df61498ae97",
      "name": "Summary"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Input }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        1392
      ],
      "id": "ac993c93-7525-4364-a186-cacf34a4e440",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "query": "={{ $('Edit Fields').item.json.Input }} ",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        320,
        1600
      ],
      "id": "a2b071d6-f9f1-4cc1-81d5-a46fa437b242",
      "name": "Search in Tavily1",
      "credentials": {
        "tavilyApi": {
          "id": "pLKGmBqjKyqM8Xcx",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Input }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        192,
        1824
      ],
      "id": "eb3e522e-d899-4e5f-8887-84b0028151b8",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Input }}",
        "options": {
          "systemMessage": "check if you need to search something on the internet just say \"internet: true\" or \"internet: false\". also check if you need to check the calendar or weather or crypto price just say \"calendar or weather : true\" or \"calendar or weather: false\". also check if you need to check the price of crypto just say \"crypto: true\" or \"crypto: false\". also check if you need to generate a image, say \"image: true\" or \"image: false\". IMPORTANT: don't answer the question say nothing else and output only internet: ? calendar or weather: ? crypto: ?:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -784,
        1040
      ],
      "id": "e0862f78-652c-4ec2-9735-b8483362ba89",
      "name": "what is needed?"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-exp-image-generation"
        },
        "prompt": "={{ $('Edit Fields').item.json.Input }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        64,
        432
      ],
      "id": "a65776bc-0399-446b-93b9-e9815cd28620",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "ucfFqS8moDMy8Beb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger2').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        432
      ],
      "id": "5cfc1931-0878-4612-9ac4-c521f0e8187f",
      "name": "Send a photo message1",
      "webhookId": "8a064117-7824-4769-91e3-29d2e3f7786c",
      "credentials": {
        "telegramApi": {
          "id": "pQZvcqd35r0AeHFX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1392,
        1344
      ],
      "id": "f95fd1fa-d81c-40d5-b415-c049abeb05d8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ucfFqS8moDMy8Beb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -928,
        1248
      ],
      "id": "f8c33449-ccae-41cb-aa2c-be4592eea1b8",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ucfFqS8moDMy8Beb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        2000
      ],
      "id": "cc77bf24-f2dc-42a0-a479-d4be0c3d18be",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "ucfFqS8moDMy8Beb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        1600
      ],
      "id": "1667d86a-923e-4869-b0ad-241e65f81cfe",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "ucfFqS8moDMy8Beb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        1232
      ],
      "id": "bc9927f6-0ce6-495d-89d4-816848cbd82e",
      "name": "Google Gemini Chat Model7",
      "credentials": {
        "googlePalmApi": {
          "id": "ucfFqS8moDMy8Beb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        832
      ],
      "id": "1feabf6d-122a-4da1-8a41-39196dd91406",
      "name": "Google Gemini Chat Model9",
      "credentials": {
        "googlePalmApi": {
          "id": "ucfFqS8moDMy8Beb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49a9c817-1f46-4021-9f0f-7800af552a40",
              "name": "Input",
              "value": "={{ $json.output }} {{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        1040
      ],
      "id": "198d2d28-f6c5-4dbd-893a-013b5d9b7a5d",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Search2": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger2": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Simplify audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify audio": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Weather or calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "Weather or calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Weather or calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Weather or calendar": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "what is needed?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Send a photo message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Simplify audio",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "what is needed?",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Weather or calendar",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "what is needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19932aba281cbcf902c87c40867d4c4d78089efec1bb07fc2175a5fda5ac7218"
  }
}
